# SSHトンネリング用のSSHホスト設定
SSH_HOST=""
SSH_PORT="22"
# SSH_PRIVATE_KEY は改行を "\\n" で記述すして1行にすること
SSH_PRIVATE_KEY=""
SSH_USERNAME=""

# SSHクライアント側に開くポートフォワーディング設定
LOCAL_HOST="127.0.0.1"
LOCAL_PORT="13306"

# ポートフォワーディング元のDB設定
DB_HOST=""
DB_PORT="3306"
DB_USER=""
DB_PASSWORD=""
DB_NAME=""
